body{
background-color: #160C08;
display: grid;
text-align: center;
align-items: flex-start;
justify-content: center;
}

#bkg{
    background-image: url(/GhostGame/img/GhostBackground.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.leaf{
    width: 85px;
    height: 152px;
    background-image: url(/GhostGame/img/leaf.PNG);
    background-size: cover;
    position: absolute;
}

div{
    display: grid;
    align-items: center;
    
}

#startBtn{
    color: white;
    font-size: 16px;
    background-color: 160c08;
    border: 2px solid #ECD4A5;
    font-family: 'Courier New', Courier, monospace;
    width: 112px;
    height: 83%;
    margin: 0 35% 8%;
}

#startBtn:active{
    background-color: 3f2015;
}

.btn{
    color: rgb(175, 91, 0);
    font-size: 48px;
    grid-row: 2;
    background-color: 160c08;
    border: 2px solid #ECD4A5;
    width: 55px;
    margin: 0 35%;
}

.btn:active{
    background-color: 3f2015;
}
/* test */