body{
background-color: #160C08;
display: flex;
text-align: center;
align-items: flex-start;
justify-content: center;
}

#bkg{
    background-image: url(/GhostGame/img/GhostBackground.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.leaf{
    width: 85px;
    height: 152px;
    background-image: url(/GhostGame/img/leaf.png);
    background-size: cover;
    position: absolute;
}

#startBtn{
    color: green;
}
