body{
background-color: #160C08;
display: flex;
text-align: center;
align-items: flex-start;
justify-content: center;
}

#bkg{
    background-image: url(/GhostGame/img/GhostBackground.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* .bkg{
    width: 400px;
    height: 600px;
    background-image: url(/img/GhostBackground.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    font-size: 100px;
    text-align: center;
}
*/
/* .ghost{ 
    /* width: 10rem;
    height: 8rem; */
    /* background-image: url(/GhostGame/img/Ghost.PNG); */
    /* background-size: contain;
    background-repeat: no-repeat; 
} */

.leaf{
    width: 85px;
    height: 152px;
    background-image: url(/);
    background-size: cover;
    position: absolute;
}
